# SETUP FASTAPI BASIC AUTHENTICATION
BASIC_AUTH_USER=USER
BASIC_AUTH_PASSWORD=PASSWORD

# DLL path
PATH_TO_ADOMD_NET=\\PATH\TO

# SETUP OLAP CONNECTION
CONNECTION_STRING=[ADOMD CONNECTION STRING]

# SQLITE STORAGE (optional)
SQLITE_PATH=app.db
